*{
  margin: 0;
  padding: 0;

}
.container{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:150px;
  left:150px
}
input{
  margin-left: 10px;
}
.Email {
  padding: 10px;
  margin: 5px;
}
.password{
  padding: 10px;
  margin: 5px;
}
.confirm-pass{
  padding: 10px;
  margin: 5px;
}
.err{
  color: red;
}